.venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.env

airflow/logs
airflow/config
airflow/plugins/__pycache__

dbt_project/target
dbt_project/logs
dbt_project/dbt_packages

screenshots
*.png
*.jpg
*.jpeg
*.webp

data/generated
synthetic_ecommerce_data

README.md
LICENSE
Makefile
structure.txt
test_chat.py
test_query.py