# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Airflow
airflow/logs/
airflow/config/
airflow/.env

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# Generated data
data/generated/*.csv
synthetic_ecommerce_data/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets / local credentials
*.json
.env