# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# BigQuery credentials (safety)
*.json
.env

# Generated datasets
data/generated/*.csv

# OS
.DS_Store
Thumbs.db

data/generated/*.csv